body {
    width: 100%;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: rgb(36, 36, 36);
  }
  
  .header__nav-container.hidden {
    display: none;
  }
  
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 21px 50px;
    box-sizing: border-box;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .header__logo {
    width: 160px;
    margin: 0 auto;
    display: block;
  }
  .header .header__icon {
    width: 40px;
    position: relative;
    cursor: pointer;
  }
  .header .header__icon .header__image {
    width: 100%;
    transition: transform 0.3s ease;
  }
  .header .header__icon .header__image:hover {
    transform: scale(1.5);
  }
  .header .header__icon .header__badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 50%;
    padding: 4px 4px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 8px;
    position: absolute;
    overflow-y: auto;
    left: 95px;
  }
  .header .header__nav .header__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .header .header__nav .header__link:hover {
    background-color: #555;
    color: #ffcc00;
    border-radius: 4px;
  }
  .header .header__nav .header__link:focus {
    outline: none;
    background-color: #555;
    color: #ffcc00;
    border-radius: 4px;
  }
  .header .header__nav .header__icon {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .header .header__nav .header__icon .header__image1 {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
  }
  .header .header__nav .header__icon .header__image1:hover {
    transform: scale(1.5);
  }
  

  
  main {
    width: 100%;
    display: flex;
  }
  main .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 30px auto 30px;
    gap: 30px 20px;
  }
  main .products__item {
    cursor: pointer;
    text-align: center;
    transition: all 0.25s ease-in-out;
  }
  main .products__img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  main .products__title {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin: 15px 0;
    color: #333;
    transition: color 0.3s ease;
  }
  main .products__title:hover {
    color: #555;
  }
  main .products_price {
    font-size: 0.875rem;
    margin: 5px 0;
    transition: color 0.3s ease;
  }
  main .products_price:hover {
    color: #555;
  }
  main .btn-buy {
    display: block;
    border: none;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 20px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
  }
  main .btn-buy:hover {
    transform: scale(1.05);
  }
  
  .cart {
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    margin: 20px auto;
    overflow-y: auto;
    right: -16px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    }
  }

  .header__icon .cart__badge{ 
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  transform: translate(50%, -50%);
    
  }
  
  .hidden{
    display: none;
  }

  .cart__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cart__title {
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: #2c3e50;
    letter-spacing: 1px;
  }
  
  .cart__item {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s ease;
  
    &:hover {
      background-color: #f9f9f9;
    }
    
    &:last-child {
      border-bottom: none;
    }
  }
  
  .cart__item-image {
    width: 60px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
    transition: transform 0.2s ease;
  
    &:hover {
      transform: scale(1.1);
    }
  }
  
  .cart__item-title {
    flex-grow: 1;
    font-size: 15px;
    color: #34495e;
    font-weight: 500;
  }
  
  .cart__item-price {
    font-size: 15px;
    font-weight: bold;
    color: #27ae60;
  }
  
  .cart__item-remove {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: opacity 0.2s ease;
  
    &:hover {
      opacity: 0.7;
    }
  }
  
  .cart__item-remove-icon {
    width: 100%;
    height: auto;
  }
  .header__image2{
    transition: transform 0.3s ease;
  }
  .header__image2:hover {
    transform: scale(1.4);
}
  
  .cart__total {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #eee;
    
    span {
      color: #27ae60;
      font-size: 24px;
    }
  }
  .cart__item-count {
    font-size: 15px;
    color: #2c3e50;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      background-color: #f1f1f1;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
  
    span {
      font-size: 20px;
      font-weight: bold;
      color: #27ae60;
    }
  }
  
  .btn-buy {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #219150;
    }
  }
  


  .footer {
    background-color: #f2f2f2; // Fondo gris claro
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &__logo {
      display: flex;
      align-items: center;
  
      &-image {
        width: 100px;
      }
    }
  
    &__nav {
      display: flex;
      gap: 15px;
  
      & .footer__link {
        color: #333;
        text-decoration: none;
        font-weight: bold;
        
        &:hover {
          color: #ff6600; // Cambia el color al pasar el cursor
        }
      }
    }
  }
  
